In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [5]:
copy_data = data.copy()

In [6]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [7]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [8]:
data.tail()

    Index   Age     Salary  Rating       Location  Established Easy Apply
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN  $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
28     28   NaN  $39k-$88k     3.4  Australia Aus         1932         -1

In [9]:
data.shape

(29, 7)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [11]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [12]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [13]:
sample = data.columns.str.lower().str.replace(" ","_")

In [14]:
text = '$40k-$100k'
text.replace('$',"")

'40k-100k'

In [15]:
sample

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy_apply'],
      dtype='object')

In [16]:
avg_age = data['Age'].mean()
avg_age

39.04545454545455

In [17]:
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.round(decimals=1)

In [18]:
data['Age']

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: Age, dtype: float64

In [19]:
data['Location'].value_counts()

New York,Ny      12
India,In          9
Australia Aus     7
India In          1
Name: Location, dtype: int64

In [20]:
data['Location'] = data['Location'].replace({'New York,Ny':'New York', 'India,In':'India','India In':'India', 'Australia Aus':'Australia'})

In [21]:
data['Location'] = data['Location'].str.replace(r'\sIn$', '')

<ipython-input-21-3f59ccad5d6c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Location'] = data['Location'].str.replace(r'\sIn$', '')

In [22]:
data['Location'].str.lower().str.replace(",","").str.rstrip("in")

0         india
1      new york
2      new york
3         india
4     australia
5         india
6      new york
7     australia
8      new york
9         india
10        india
11        india
12        india
13    australia
14    australia
15    australia
16        india
17     new york
18     new york
19     new york
20     new york
21     new york
22     new york
23     new york
24     new york
25    australia
26        india
27        india
28    australia
Name: Location, dtype: object

In [23]:
data['Location'].astype

<bound method NDFrame.astype of 0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: Location, dtype: object>

In [24]:
data['Location'].str.split(',',expand=True)[0]

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
26        India
27        India
28    Australia
Name: 0, dtype: object

In [25]:

data = {'Easy Apply': [True, -1]}
df = pd.DataFrame(data)


print("Original DataFrame:")
print(df)

is_boolean = np.issubdtype(df['Easy Apply'].dtype, np.bool_)


print("\nDoes the 'Easy Apply' column contain boolean values? {}".format(is_boolean))


df['Easy Apply'] = df['Easy Apply'].astype(float)


print("\nDataFrame after transformation:")
print(df)

Original DataFrame:
  Easy Apply
0       True
1         -1

Does the 'Easy Apply' column contain boolean values? False

DataFrame after transformation:
   Easy Apply
0         1.0
1        -1.0

In [29]:



data = {'Age': [44.0,66.0,39.0,64.0,25.0,44.0,21.0,44.0,35.0,22.0,55.0,44.0 ,39.0,25.0,66.0,44.0,19.0,39.0,35.0,32.0,39.0,35.0,19.0,39.0,13.0,55.0,39.0,52.0,39.0]}




df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)


age_distribution = df['Age'].value_counts()


print("\nDistribution of values in the 'Age' column:")
print(age_distribution)


unusual_entries = df[(df['Age'] == 'unknown') | df['Age'].isna()]


print("\nUnusual entries in the 'Age' column:")
print(unusual_entries)

Original DataFrame:
     Age
0   44.0
1   66.0
2   39.0
3   64.0
4   25.0
5   44.0
6   21.0
7   44.0
8   35.0
9   22.0
10  55.0
11  44.0
12  39.0
13  25.0
14  66.0
15  44.0
16  19.0
17  39.0
18  35.0
19  32.0
20  39.0
21  35.0
22  19.0
23  39.0
24  13.0
25  55.0
26  39.0
27  52.0
28  39.0

Distribution of values in the 'Age' column:
39.0    7
44.0    5
35.0    3
66.0    2
25.0    2
55.0    2
19.0    2
64.0    1
21.0    1
22.0    1
32.0    1
13.0    1
52.0    1
Name: Age, dtype: int64

Unusual entries in the 'Age' column:
Empty DataFrame
Columns: [Age]
Index: []

In [26]:
df = pd.read_csv("/content/chipotle.tsv",sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [27]:
['Tomatillo-Red Chili Salsa (Hot)', ['Black Beans', 'Rice', 'Cheese', 'Sour Cream']][0]

'Tomatillo-Red Chili Salsa (Hot)'

In [28]:
copy_data = data.copy()

In [29]:
df.isnull()  # Returns a DataFrame of the same shape with True where NaN values exist

      order_id  quantity  item_name  choice_description  item_price
0        False     False      False                True       False
1        False     False      False               False       False
2        False     False      False               False       False
3        False     False      False                True       False
4        False     False      False               False       False
...        ...       ...        ...                 ...         ...
4617     False     False      False               False       False
4618     False     False      False               False       False
4619     False     False      False               False       False
4620     False     False      False               False       False
4621     False     False      False               False       False

[4622 rows x 5 columns]

In [30]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [31]:
df.dropna(inplace=True)